.hero-title {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin-top: 50px;
}
.hero {
  padding-top: 80px;
  background-image: url(../../../image/desktop/hero/main-hero-bg.png);
  background-size: cover;
  background-position: center;
position: relative;
  height: 595px;
}
.bg-opacity{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--hero-bg-opacity));
  z-index: 0;
  transition: background-color 0.3s ease;
}
.hero-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
  margin-bottom: 100px;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  font-size: 24px;
  line-height: 2.5;
  font-weight: 500;
  color: #ffffff;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-input {
  color: #878787;
  background-color: #d9d9d9;
  border: none;
  padding: 8px 180px 8px 10px;
  border-radius: 9px;
  width: 425px;
  height: 22px;
}

.hero-input:focus {
  outline: none;
}

.hero-search-btn {
  background-color: var(--back-color);
  border: none;
  width: 47px;
  height: 38px;
  border-radius: 0 9px 9px 0;
  margin-left: -12px;
  transition: all 0.3s ease;
 color: var(--cart-text-color);

}
.hero-search-btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color2);
  transition: all 0.2s ease;
}
.hero-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1045px) {
  .hero-input {
    padding: 8px 100px 8px 10px;
    width: 300px;
  }
  .hero-info {
    gap: 15px;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .hero {
    height: 500px;
    padding-top: 60px;
  }
  .hero-title {
    font-size: 28px;
    margin-top: 30px;
  }
  .hero-input {
    padding: 8px 50px 8px 10px;
    width: 200px;
  }
  .hero-info {
    flex-direction: column;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
  text-align: center;
  }
  
  
}
@media screen and (max-width: 400px) {
  .hero-input {
    padding: 8px 30px 8px 10px;
    width: 150px;
  }
  .hero-info {
    font-size: 16px;
    gap: 8px;
    text-align: center;
  }
}