.hero-title {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.hero{
padding-top: 80px;
  background-image: url(../../../image/desktop/hero/main-hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 595px;
}
.hero-info {
  display: flex;
justify-content: center;
  gap: 30px;
margin-top: 70px;
 margin-bottom: 100px;
font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 24px; 
  line-height: 2.5;
  font-weight: 500;
  color: #ffffff;
}
.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-input {
  color: #878787;
  background-color: #d9d9d9;
  border: none;
  padding: 8px 180px 8px 10px;
  border-radius: 9px;
  width: 425px;
  height: 22px;
}
.hero-input:focus {
  outline: none;
}

.hero-search-btn {
  background-color: #ffb36c;
  border: none;
  width: 47px;
  height: 38px;
  border-radius: 0 9px 9px 0;
  margin-left: -12px;
  transition: all 0.3s cubic-bezier(0.28, 0.93, 0.79, 0.15);
}
.hero-search-btn:hover{
  cursor: pointer;
  background-color: #e79d57;
  transition: all 0.3s ease;
}
.hero-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
