@import "../../App.css";

body{
    font-family: 'Montserrat', sans-serif;
}

.main{
    margin-top: 60px;
}


.card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}
.card-item{
    background-color: var(--card-background);
    border-radius: 8px;
   height: 370px;
    width: 280px;
    padding: 10px;
}
.item-city{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--cart-text-color);
    font-family: Montserrat, sans-serif;
}
.time{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
    color: var(--cart-text-color);
}
.item-date{
    text-align: center;
    font-size: 16px;
    color: var(--data-color);
    margin-left: -20px;
    margin-top: 30px;
}
.weather-meta{
    display: flex;
    justify-content: center;
    width: 120px;
height: 120px;
    margin: 0 auto;

}
.item-temp{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    color: var(--cart-text-color);
}
.item-btns{
    display: flex;
    justify-content: space-around;
  
    margin-top: 60px;
}

.item-ref-btn{
    background: var(--card-background);
    border: none;
    color: var(--cart-text-color);
}
.item-ref-btn:hover{
    cursor: pointer;
    color: #000;
}
.item-like-btn{
    background: var(--card-background);
    border: none;
    color: #ff0000;
}
.item-like-btn:hover{
    cursor: pointer;
    color: red;
}
.item-more-btn{
    background: var(--back-color);
    border: none;
    color: #0000;
    border-radius: 4px;
}
.item-more-btn:hover{
    cursor: pointer;
    background-color: var(--back-color);
}
.item-del-btn{
    background: var(--card-background);
    border: none;
    color:var(--cart-text-color);
}
.item-del-btn:hover{
    cursor: pointer;
    color: #ff0000b4;
}