@import '../../App.css';

header{
    height: 100px;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
   
}
.header-links{
    display: flex;
    gap: 30px;
   justify-content: center;
    align-items: center;
    list-style: none;
}
.header-link{
    font-size: 16px;
    color: var(--cart-text-color);
   transition: all 0.5s ease;
}
.header-link:hover{
    text-decoration: underline var(--back-color);
    cursor: pointer;
    color: var(--back-color);
transition: all 0.3s ease;
}

.logo-box{
    background-color: var(--logo-bg-color);
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.4s ease;
}
img{
 color: var(--header-logo-color);
}

.header-btns{
    
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
.header-btn{
background-color: var(--back-color);
    color: var(--cart-text-color);
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.header-btn:hover{
    background-color: var(--btn-hover-color2);
    transition: all 0.3s ease;
}
.profile-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.profile-btn:hover{
    opacity: 0.5;
}
a{
       color: inherit;
       font-family: Montserrat Alternates, sans-serif;
}
.theme-btn{
    border: none;
    background-color: var(--back-color);
    cursor: pointer;
border-radius: 5px;
    padding: 8px 15px;
    color: var(--cart-text-color);
    transition: all 0.5s ease;
}
.theme-btn:hover{
    background-color: var(--theme-hover-color);
    transition: all 0.3s ease;
}
@media (min-width: 320px) and (max-width: 650px) {
.header-links{
    display: none;
}
header{
    height: 85px;
}
.logo-box{
    padding: 3px 7px;
}
img{
    width: 50px;
}
.theme-btn{
    padding: 3px 5px;
}
.header-btns{
    gap: 10px;
}
}