@import "../../App.css";
footer{
    background-color: var(--back-color);
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adr{
    display: flex;
    flex-direction: column;
    gap : 10px;
}
.footer-adr{
    width: 115px;
}