@import "../../App.css";
footer{
    background-color: var(--back-color);
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adr{
    display: flex;
    flex-direction: column;
    gap : 10px;
}
.footer-adr{
    width: 115px;
}
.footer-link:hover{
    color: var(--link-hover-color);

transition: all 0.3s ease;
    cursor: pointer;
}
.footer-link{
    text-decoration: none;
    color: var(--cart-text-color);
    transition: all 0.3s ease;
}
@media screen and (max-width: 600px) {
    .footer-container{
        flex-direction: column;
        gap: 20px;
    }
    
}