/* Mobile: 320px - 480px */
@media (min-width: 320px) {
    .container {
        padding: 0 50px;
        max-width: 100%;
    }
}

/* Tablet: 768px and above */
@media (min-width: 768px) {
    .container {
        padding: 0 100px;
        max-width: 100%;
    }
}

/* Desktop: 1200px and above */
@media (min-width: 1200px) {
    .container {
        padding: 0 150px;
        max-width: 100%;
    }
}

:root {
    --back-color: #FFB36C;
    --secondary-color: #333333;
    --background-color: #FFFFFF;
    --font-family: 'Arial', sans-serif;
    --card-background: #E8E8E8;
    --data-color: #666666;
    --btn-hover-color: #e79d57;
    --btn-hover-color2: #e79d57;
    --cart-text-color: #000000;
    --hero-bg-opacity: 0.2;
    --input-btn-color: #FFB36C;
    --header-logo-color: #000000;
    --logo-bg-color: #FFFFFF;
}
.dark-mode {
    --back-color: #636363;
    --secondary-color: #CCCCCC;
    --background-color: #121212;
    --font-family: 'Arial', sans-serif;
    --card-background: #1E1E1E;
    --data-color: #AAAAAA;
    --btn-hover-color: #714112;
     --btn-hover-color2: #454545;
    --cart-text-color: #FFFFFF;
    --hero-bg-opacity: 0.6;
    --input-btn-color: #aa5200;
    --header-logo-color: #FFFFFF;
    --logo-bg-color: #595959;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    transition: all 0.3s ease;
}